body{
    font-family: sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    margin: 0;
    display: flex;
    padding: 20px;
    min-width: 50rem !important;
    min-height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button{
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: black;
    height: 3rem;
    width: 5rem;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1em;
    transition: border-color 0.25s;
    font-family: inherit;
}

 button:hover{
     border: 1px solid blue;
}

button.selected{
    background: blue;
}